{% extends 'adoption_announcement/base.html' %}
{% load static %}

{% block content %}

    <div id="container">

        <div id="logo">
            <h1>Witamy na stronie <br/>
                NIE KUPUJ! ADOPTUJ!</h1>
        </div>

        <div id="content">
            <div style="position: relative; ">
                <img width= "600om" height="250om" src='{% static "homepage/zwierzak.jpg" %}'/>
                <div style="position: absolute;opacity: 1;top: 0; left: 0; width: 100%;height: 100%;">
                    <MARQUEE behavior="alternate"><font color="#dc143c" size="6">#podarujmidom</font></MARQUEE></div>
            </div>
            <br/>
            <br/>
            ZWIERZAK.PL TO SPECJALNY PROJEKT ADOPCYJNY, KTÓRY POMAGA ZWIERZAKOM ZNALEŹĆ SWÓJ NOWY DOM.
            <br/><br/><br/>
            Portal jest adresowany do wszystkich okazujących współczucie i oferujących pomoc zwierzętom.
            <br/><br/>
            Nikt nie jest w stanie oszacować ilości bezdomnych zwierząt w Polsce - Zwierzak.pl usilnie wspiera
            rozwiązanie tego problemu. Mamy na celu zapoznać wszystkich troszczących się o zwierzęta
            z mądrymi i kochającymi pupilami, które szukają domu. <br/><br/>Na stronie umieszczamy oczekujące na dom oraz
            miłość domowe zwierzęta. Podstawowe informacje o każdym zwierzaku umieszczone są na osobnych kartach – wiek,
            płeć, waga, rasa. Zobacz ich profile i spotkaj się z wybranym zwierzakiem – nich stanie się on Twoim
            przyszłym kochanym Przyjacielem.
        </div>

    </div>

{% endblock content %}