{% extends 'adoption_announcement/base.html' %}

{% block content %}

</p>
<form>
<div class = "container col-md-3 justify-content-center">
    <div class="form-row">
        <div class="form-group mb-4">
            <label for="name">Imię</label>
            <input type="name" class="form-control" id="name">
        </div>
    <div class="form-group mb-4">
            <label for="surname">Nazwisko</label>
            <input type="surname" class="form-control" id="surname">
    </div>
    </div>
    <div class="form-group mb-4">
        <label for="phone">Telefon</label>
        <input type="phone" class="form-control" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}">
    </div>
    <div class="form-group mb-4">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group mb-4">
        <label for="address">Adres 1</label>
        <input type="text" class="form-control" id="address">
    </div>
    <div class="form-group mb-4">
        <label for="address2">Adres 2</label>
        <input type="text" class="form-control" id="address2">
    </div>
    <div class="form-row mb-4">
        <div class="form-group">
            <label for="city">Miasto</label>
            <input type="text" class="form-control" id="city">
        </div>
        <div class="form-group mb-4">
            <label for="przykladoweWojewodztwo">Województwo</label>
            <select id="przykladoweWojewodztwo" class="form-control">
                <option selected>Wybierz...</option>
                <option>Dolnośląskie</option>
                <option>Kujawsko-Pomorskie</option>
                <option>Lubelskie</option>
                <option>Lubuskie</option>
                <option>Łódzkie</option>
                <option>Małopolskie</option>
                <option>Mazowieckie</option>
                <option>Opolskie</option>
                <option>Podkarpackie</option>
                <option>Podlaskie</option>
                <option>Pomorskie</option>
                <option>Śląskie</option>
                <option>Świekrzyskie</option>
                <option>Warmińsko-Mazurskie</option>
                <option>Wielkopolskie</option>
                <option>Zachodniopomorskie</option>
            </select>
        </div>
        <div class="form-group mb-4">
            <label for="postcode">Kod pocztowy</label>
            <input type="text" class="form-control" id="postcode">
        </div>
    </div>
</div>
    <button type="submit" class="btn btn-primary">Wyślij</button>
</form>


<div class="mt-5">


{% endblock content %}

</div>

