{% extends 'adoption_announcement/base.html' %}

{% block content %}

<h1 class="row justify-content-center">Zwierzęta do adopcji</h1>


<div class="row justify-content-center">
    {% for animal in object_list %}
        <div class="card p-2 m-2 col-2">
            <div class="card-body">
                <img class="card-img-top" src="{{ animal.image.url }}">
                <p  class="fw-bold text-center">{{ animal.name }}</p>
                <p class="text-left">
                    {{ animal.short_description }}
                </p>
                <p class="text-center"><a href="{% url 'animal_detail' animal.pk %}" class="btn btn-primary">Więcej informacji</a></p>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock content %}


