{% extends '/base.html' %}

    <title>Porady</title>

{% block content %}
    <div id="container">
        <div id="content">
<h2>Przygotowanie do adpocji - Poradnik</h2>
Chociaż posiadanie pupila, to jedna z największych przyjemności na jaką możemy sobie pozwolić, to także ogromne wyzwanie i odpowiedzialność.

Zwierzęta z fundacji lub schroniska to bardzo często zwierzęta po przejściach, często maltretowane, bite, porzucone,
wymagają nie jednokrotnie więcej uwagi i opieki niż pupile z hodowli. Dlatego też należy przed adopcją dobrze się
zastanowić, aby kolejny raz nie krzywdzić już skrzywdzonych przez los.
<br/><br/>
Pytania które warto sobie postawić przed adopcją:
<br/><br/>
    * Czy posiadam już jakiekolwiek inne zwierzę, oraz czy zaakceptuje nowego zwierzaka w domu?<br/>
    * Czy moje miejsce zamieszkania pozwala na przyjęcie nowego pupila?<br/>
    * Co o adopcji myślą współlokatorzy/rodzina?<br/>
    * Czy jesteś uczulony na sierść zwierząt?<br/>
    * Czy finansowo podołasz?<br/>
    * Szukasz kompana do biegania, prawdziwego leniuszka?, czy kogoś pośrodku?<br/>
    * Czy masz odpowiednią ilość czasu i cierpliwości, aby zająć się pupilkiem?<br/>
    * Czy jestem gotowy na proces adoptowania do nowych warunków oraz odnalezienia wzajemnego zrozumienia?<br/>
    * Czy jestem gotowy by wziąć los pupila w swoje ręce? czy będę go kochać? opiekować się nim do końca jego życia?<br/>
    * Czy jest ktoś kto zaopiekuje się pupilem w czasie mojej nieobecności?<br/>
    * Czy zagwarantuje odpowiednie leczenie i opiekę w razie choroby?<br/>
<br/>
<h1>Pomimo ogromnej ilości pytań, kłębiących się myśli co zrobić warto pamiętać, że nikt nie gwarantuje nam takiej miłości
i oddania jak nasze pupile.</h1>
    </div>
        </div>
{% endblock content %}