{% extends 'homepage/base.html' %}
{% load static %}

    <title>Kontakt</title>

{% block content %}

<h3>Skontaktuj się z nami</h3>
<br/><br/>Jeśli chcesz skontaktować się z nami w sprawie wolontariatu, domów tymczasowych, wsparcia rzeczowego,
zbiórek, adopcji, zajęć edukacyjnych dla dzieci, sponsoringu, reklamy lub w inny sposób chcesz
nawiązać z nami współpracę napisz do nas, zadzwoń lub odwiedź osobiście.<br/><br/>

<h2>Dane stowarzyszenia</h2>
Biuro : ul. Proletariacka 189, 85-216 Warszawa<br/>
tel. 847-365-278<br/>
email. zwierzakdoadpocji@gmail.com<br/><br/><br/>
 <img width= "600om" height="300om" src='{% static "homepage/contact.jpg" %}'/>
<h3>Dziękujemy wszystkim osobom zaangażowanym w pomoc i zapraszamy do kontaktu</h3>

{% endblock content %}