{% extends 'homepage/base.html' %}
    <title>Regulamin adpocji</title>

{% block content %}
    <div id="container">
        <div id="content">
<h3>Warunki adopcji zwierzaka<br/><br>
Adopcja</h3>

Adoptując zwierzę weź pod uwagę kilka faktów:<br/>
Każde zwierze, czuje i dając dom kotu, psu i innemu zwierzakowi, należy pamiętać iż będzie ono żyło od kilku do
kilkunastu lat. Zanim podejmiesz się takiego zobowiązania, zastanów się czy jesteś na to gotowy, by dać takiej istocie
dom już na zawsze.Dobierz pupila do swojego trybu życia… każdemu zwierzęciu należy zapewnić odpowiednie pożywienie,
odpowiednia dawkę ruchu i odpowiadające danemu gatunkowi warunki do życia. Nim podejmiesz się adopcji, sprawdź czy przy
swoim trybie życia spełnisz te warunki. Pies i kot, a także inne zwierzęta chorują, leki i opieka weterynaryjna
kosztują, czy będzie cię stać na zapewnienie swojemu zwierzakowi opieki jaką może potrzebować? Wakacyjne wyjazdy
stanowią duży problem – zastanów się czy twój zwierzak, będzie dla ciebie takim członkiem rodziny, że swoje plany
wakacyjne zorganizujecie w sposób pozwalający wam zabrać zwierzaka, lub czy ktoś z waszej rodziny zapewni na czas
wyjazdu zwierzęciu odpowiednią opiekę. Zwierzęta znajdujące się w schronisku lub fundacji, mogą mieć problemy
behawioralne związane z porzuceniem, lub życiem jako dzikie zwierze, nim zdecydujesz się na adopcję, przemyśl, czy
będziesz w stanie poświęcić zwierzęciu odpowiednia ilość uwagi potrzebną do korekcji pewnych zachowań.
Jeżeli posiadasz już jakieś zwierze, sprawdź czy toleruje ono inne zwierzęta, w przeciwnym wypadku adopcja może
przysporzyć stresu nowym zwierzakom, jak i rezydentom. Przemyśl, czy ewentualny wyjazd do pracy za granicę, ciąża,
chęć posiadania dzieci nie będą skutkowały oddaniem zwierzęcia. Powinniście przemyśleć czy wybrać młodego kota/szczeniaka
czy już dorosłego psa/kota. Każda z tych opcji ma swoje plusy i minusy. Pamiętajcie jednak iż niezależnie czy wybierzecie,
młode czy stare zwierze, zawsze ratujecie mu życie.
<br/><br/>
Warunki adopcji:
<br/>
    By adoptować psa, kota i inne zwierze musisz być osobą pełnoletnia<br/>
    Zwierzęta nie zostaną wydane osobą, które chcą je podarować komuś jako „prezent”<br/>
    Adoptujący musi wyrazić zgodę na wizytę przed adopcyjną oaz wizyty po adopcyjne.<br/>
    Adoptujący podpisuje umowę adopcyjną i akceptuje zawarte w umowie warunki adopcji.<br/>
    Adoptujący zobowiązuje się do kastracji/sterylizacji psa, jeżeli wydane do adopcji zwierze nie przeszło jej w
fundacji ze względu na niemożność wykonania zabiegu np. ze względu na wiek.<br/>
    Psy nie będą wydawane na łańcuch.<br/>
    Koty nie będą wydawane do piwnic, stodół, czy pomieszczeń gospodarczych w celu łapania myszy.<br/>
    Członkowie Fundacji wybiorą najlepszy możliwy dom spośród chętnych ubiegających się o adopcję.<br/>
    Członkowie Fundacji i wolontariusze mają prawo odebrać adoptowane zwierze, jeżeli zachodzi podejrzenie iż
właściciel nie stosuje się do zapisów zawartych w umowie adopcyjnej.<br/>
<br/><br/>
Adopcja i pierwsze dni w nowym domu
<br/>
    Odbierając zwierzaka, pamiętaj by mieć przygotowaną smycz, obroże, szelki, kaganiec, miskę, karmę, podkłady, kuwetę,
legowisko i wszystkie inne akcesoria do zapewnienia odpowiedniej opieki dla psa/kota/i innych zwierząt.
    Pierwsze dni w nowym miejscu mogą być trudne, może czuć się zdezorientowany. Pamiętaj by wykazać się cierpliwością
i nauczyć zwierzę, gdzie jest odpowiednie miejsce do załatwiania się i naucz go co mu wolno, a co nie.
    Poznając kota z nowym nowego zwierzaka z dotychczasowym rezydentem, bacznie obserwuj ich zachowanie i postaraj się
wyeliminować wszelkie czynniki stresowe, by wprowadzenie nowego zwierzaka zostało zaakceptowane.
    W przypadku szczeniąt i kociąt, pamiętaj iż zwierzaki te potrzebują o wiele więcej uwagi i uczenia, niż starsze
zwierzęta.
    Mile widziane będzie przez najbliższe dni utrzymanie kontaktu z Fundacją, DT, lub wolontariuszem zajmującym się adopcją.
        </div>
    </div>
{% endblock content %}